/* landing page style */
/* signing up / logging in */
.scheduleContainer > div {
    
}

#signUpBtn:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#signInBtn:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#signUpBtn:hover {
    background-color: black;
    color: white;
}

#signInBtn:hover {
    background-color: black;
    color: white;
}

#signInForm {
    text-align: center;
    width: 25rem;
    margin: auto;
    display: none;
    background-color: rgba(245, 244, 244, 0.63);
    padding: 20px;
    border-radius: 10px;
}

#submitBtn:hover {
    background-color: black;
    color: white;
}

#signUpForm {
    text-align: center;
    width: 40rem;
    margin: auto;
    display: none;
    background-color: rgba(245, 244, 244, 0.63);
    padding: 20px;
    border-radius: 10px;
}

/* logout button */
button#logOutBtn {
    border-bottom: 1px dotted white;
    border-left: 1px dotted white;
    color: black;
}

#logOutBtn:hover {
    position: relative;
    bottom: 2px;
    left: 2px;
    background-color: #9CA3AF;
    color: white;
}

/* footer */
footer {
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
/* workout page */
#backToHome span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

#backToHome span:after {
    content: '\2190';
    position: absolute;
    opacity: 0;
    top: 0;
    left: 20px;
    transition: 0.2s;
}

#backToHome:hover {
    background-color: black;
    color: white;
}

#backToHome:hover span {
    padding-left: 25px;
}

#backToHome:hover span:after {
    opacity: 1;
    left: 0;
}



#hiddenForm {
    display: none;
}


#assignDayForm {
    display: none;
}

#deleteWorkout:hover {
    background-color: white;
    color: brown;
}


/* SCHEDULE HANDLEBARS */


#newWorkoutBtn:hover {
    background-color: rgb(189, 186, 186);
    color: black;
}

#verticalLine {
    border-left: 6px solid rgb(190, 185, 185);
    width: 90rem;
    height: 100vh;
    border-radius: 5px 5px 5px;
}

#appNameTitle {
    text-shadow: rgb(121, 118, 118) 8px 2px 3px;
}

/* #scheduleAddWorkoutFormBox {
    overflow: auto;
} */

#workoutInput {
    
}
/* workouts page styling */
.mainDiv div {
    margin-right: 2vw;
    margin-left: 2vw;
}

#workoutDets {
    justify-content: center;
}


@media only screen and (max-width: 750px) {
    .card-deck {
        display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    }
    #verticalLine {
        border: none;
    }
    #flex {
        justify-content: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .scheduleHeader {
        text-align: center;
    }

    .appName {
        font-size: 3em;
        padding-top: 200px;
    }
  }

@media only screen and (min-width: 751px) {
    .card-deck {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .appName {
        padding-top: 250px;
    }
}

@media (max-width: 450px) { 
    #appNameTitle {
        font-size: 2.2rem;
        position: relative;
        top: 1rem;
        left: 0px;
        text-shadow: rgb(121, 118, 118) 8px 2px 3px;
    }
   
    /* #addWorkoutForm > * {
        margin-left: 6vw;
    } */
    

    .scheduleBody {
        margin-right: 1em;
        margin-left: 1em;
        width: 80%;
        height: 100%;
        display: inline-block;
    }

    div.mainDiv {
        
        
        /* width: 100vw; */
    }
    div.mainDiv > * {
       justify-content: center;
    }

    div#flex {
        margin: auto;
    }
    /* img#bg {
        height: 100%;
        width: 100%;
    } */

    .mainDiv nav :nth-child(2) {
        font-size: 3em;
    }

    button#logOutBtn {
        position: relative;
        bottom: 1.5vh;
        width: 4rem;
    }
    /* specific workout page */
    #addExerciseForm {
        width: 70vw;
    }

    #exercise_name {
        width: 15rem;
    }
    #exerciseNameButton {
        width: 15rem;
    }
 }
